# ==========================================
# Archivos compilados de Java
# ==========================================
*.class

# ==========================================
# Paquetes y archivos comprimidos
# ==========================================
# Ignorar todos los .jar por defecto
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Permitir que Git rastree los .jar dentro de la carpeta lib/
!/lib/*.jar

# ==========================================
# Visual Studio Code
# ==========================================
.vscode/

# ==========================================
# Eclipse
# ==========================================
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders
.project
.classpath

# ==========================================
# IntelliJ IDEA
# ==========================================
.idea/
*.iws
*.iml
*.ipr
out/

# ==========================================
# Logs y archivos del sistema operativo
# ==========================================
*.log
.DS_Store
Thumbs.db
